<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<head>
<title>Image LLM generator</title>
</head>

<body>
    
    <form action="/" method="post">
        <textarea name="value_prompt" id="" rows="10" cols="30">Enter your prompt here</textarea>
        <br>
        <input type="submit" name="value_prompt" value="Generate">
    </form>
    
    <div id="image" style="text-align: center;">
    <img 
        id="generated-image" 
        src="{{ url_for('static', filename='output.png') }}" 
        name="img" 
        style="display:{% if show_image %}center{% else %}none{% endif %};"
    />
    </div>

</body>


</html>