<!DOCTYPE html>
<html>
<head>
<title>Image LLM generator</title>
</head>

<body>
    <form action="/" method="post">
        <textarea name="value_prompt" id="" rows="10" cols="30">Enter your prompt here</textarea>
        <br>
        <input type="submit" name="value_prompt" value="Generate">
    </form>
    <form action="/watch" method="post">
        <input type="submit" name="watch" value="Watch">
    </form>

    <img 
        id="generated-image" 
        src="{{ url_for('static', filename='output.png') }}" 
        name="img" 
        style="display:{% if show_image %}block{% else %}none{% endif %};"/>
</body>


</html>